
.icon-location:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-database:before { content: '\e802'; } /* '' */
.icon-cloud:before { content: '\e803'; } /* '' */
.icon-mobile:before { content: '\e804'; } /* '' */
.icon-calc:before { content: '\f1ec'; } /* '' */
.icon-birthday:before { content: '\f1fd'; } /* '' */
.icon-venus:before { content: '\f221'; } /* '' */
.icon-mars:before { content: '\f222'; } /* '' */
.icon-venus-mars:before { content: '\f228'; } /* '' */
.icon-id-card:before { content: '\f2c2'; } /* '' */