{
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  },
  "ElasticSearch": "http://localhost:9200",
  "Connection": "Data Source=C:\\Users\\Leo.Li\\Documents\\Contacts.db",
  "Identity": "Data Source=C:\\Users\\Leo.Li\\Documents\\Identity.db"
}
